body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(230, 239, 246);
}
.container{
    margin: 100px 400px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.top-box h2{
    padding:50px 0 0 30px;
    color: rgb(92, 157, 164);
}
.top-box h4{
    padding:0 0 0 30px;
    color: rgb(248, 248, 125);
}
.top-box p{
    padding:0 0 50px 30px;
    color: rgb(161, 166, 178);
}
.bottom-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-box{
    background-color: rgb(43, 179, 177);
    border-radius: 0 0 0 10px;
}
.left-box h2{
    color: rgb(225, 255, 255);
    padding:20px 0 0 30px;
}
.left-box h4{
    color: rgb(225, 255, 255);
    padding:0 0 0 30px;
}
.left-box p{
    color: rgb(225, 255, 255);
    padding:0 0 0 30px;
}
.left-box span{
    color: rgba(245, 245, 245, 0.425);
}
.left-box button{
    margin:0 0 40px 30px;
    background-color: rgb(191, 223, 51);
    border: none;
    border-radius: 5px;
    width: 215px;
    height: 50px;
    color: rgb(255, 255, 208);
}
.right-box{
    background-color: rgb(74, 190, 189);
    border-radius: 0 0 10px 0;
}
.right-box h2{
    color: rgb(225, 255, 255);
    padding:20px 0 0 30px;
}
.right-box p{
    color: rgba(245, 245, 245, 0.425); 
    padding:0 0 0 30px;  
}

@media (max-width:412px) {
    .container {
        background-color: rgb(255, 255, 255);
        margin: 100px 50px;
        border-radius: 10px;
    }
    top-box p {
        padding: 0 0 50px 30px;
        color: rgb(161, 166, 178);
        font-size: 8px;
    }
    .bottom-box {
        display: grid;
        grid-template-columns: 1fr;
    }
    .left-box {
        background-color: rgb(43, 179, 177);
        border-radius: 0 0 0 0;
    }
    .left-box h2 {
        color: rgb(225, 255, 255);
        padding: 20px 0 0 30px;
        font-weight: 400;
    }
    .right-box {
        background-color: rgb(74, 190, 189);
        border-radius: 0 0 10px 10px;
    }
    .right-box h2 {
        color: rgb(225, 255, 255);
        padding: 20px 0 0 30px;
        font-weight: 400;
    }
}